.ranking-header {
  height: 10vmin;
  background-color: #000;
  width: 100%;
  color: #FFF;
}

.app-title {
  display: inline-block;
  width: 100%;
  margin: 7px auto;
  font-size: 30px;
  text-align: center;
}