.top-page {
  background-color: #ffdd00;
  width: 100%;
}
.list-margin {
  height: 10px;
}
.item-list {
  width: 90%;
  background-color: #000;
  margin: 10px auto;
  color: #FFF;
  opacity: 0.7;
  border-radius: 5px;
}

.list-name {
  display: inline-block;
  width: 30%;
}