.top-page {
  background-color: #ffdd00;
  width: 100%;
}
.list-margin {
  height: 10px;
}
.item-list {
  width: 90%;
  background-color: rgba(0,0,0,.7);
  margin: 10px auto;
  color: #FFF;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image {
  border-radius: 5%;
  margin: 15px;
  width: 150px;
}

.title {
  text-align: center;
  width: 15%;

}
.price {

}
.discription {
  width: 40%;

}
.publisher-name {

}
.author {

}
.sale-date {

}
.link-btn {
}
